<h1>Event#new</h1>
<p>Find me in app/views/event/new.html.erb</p>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for @event, url: {action: "create"} do |f| %>
	  	<li>
      		<%= f.label :description %>
      		<%= f.text_field :description %>
	  		
      		<%= f.label :date %>
      		<%= f.date_field :date %>
      	
	  	<li>
      <%= f.submit "submit" %>
    <% end %>
  </div>

<div> Session => <%= @session[:user_id] if @session %>

</div>