<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class="container">
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
	<p>session => <%= @session if @session %></p>
	<p>params => <%= @params if @params %></p>
	<p><%= link_to "Log out", logout_path, method: "delete" %></p>
  </div>

</body>
</html>
